server {
  listen 80 default_server;
  listen [::]:80 default_server;

  root {{ document_root }};
  index index.php index.html;

  # Admin can be accessed via /wp (instead of /wp-admin)
  rewrite ^(/)?wp/?$ /wp-login.php?$query_string break;

  client_max_body_size 10M;


  ##############################################################################
  # GZIP configuration
  #
  gzip on;
  gzip_buffers 16 8k;
  gzip_comp_level 9;
  gzip_http_version 1.0;
  gzip_min_length 0;
  gzip_types text/plain text/css image/x-icon image/svg+xml image/png image/jpg image/jpeg text/js text/php application/javascript application/x-javascript;
  gzip_vary on;
  gzip_proxied expired no-cache no-store private auth;
  gzip_disable "MSIE [1-6]\.";


  ##############################################################################
  # Asset (CSS, JS, IMG) caching and expiration
  #
  location ~* \.(?:rss|atom)$ {
    expires 1h;
    add_header Cache-Control "public";
  }

  # Fonts need to have Access-Control-Allow-Origin
  # See http://www.fontspring.com/support/troubleshooting/webfonts-are-not-loading-in-firefox
  location ~* \.(eot|ttf|woff|woff2)$ {
    expires 1M;
    add_header Access-Control-Allow-Origin *;
  }

  location ~* \.(?:jpg|jpeg|gif|png|ico|cur|gz|svg|svgz|mp4|ogg|ogv|webm|htc)$ {
    expires 1M;
    access_log off;
    add_header Cache-Control "public";
  }

  location ~* \.(?:css|js)$ {
    expires 1y;
    access_log off;
    add_header Cache-Control "public";
  }


  ##############################################################################
  # Default location configuration (for rewrites)
  #
  location / {
    try_files $uri $uri/ /index.php?$args;
  }


  ##############################################################################
  # We can't use HHVM when dealing with plugins (it doesn't support SFTP)
  #
  location ~ /wp-admin/(update|plugins).php {
    try_files $uri /index.php;
    include fastcgi_params;
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_index index.php;
  }


  ##############################################################################
  # HHVM configuration with PHP-FPM fallback (see "location @fpm" block)
  #
  location ~ \.(hh|php)$ {
    proxy_intercept_errors on;
    error_page 502 = @fpm;

    try_files $uri /index.php;
    include fastcgi_params;
    fastcgi_pass unix:/var/run/hhvm/hhvm.sock;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_index index.php;
    fastcgi_buffers 16 16k;
    fastcgi_buffer_size 32k;
  }

  location @fpm {
    try_files $uri /index.php;
    include fastcgi_params;
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_index index.php;
  }
}
